main {
    min-height: 85vh;
}

h4 {
    margin: 0.8rem 0;
}

h1 {
    padding: 1rem 0;
    font-size: 1.8rem;
}

h2 {
    padding: 0.2rem 0;
    font-size: 1.4rem;
}

table td {
    vertical-align: middle;
}

.alert-custom {
    transition: all 0.4s ease-in-out;
}

.rating span {
    margin: 0.1rem;
}

button.cart-delete-btn {
    margin-left: 1em;
}

.form-control:focus {
    box-shadow: none;
}

@media (max-width: 430px) {
    button.remember-password {
        font-size: 0.8rem;
    }
}