main {
    min-height: 85vh;
}

h4 {
    margin: 0.8rem 0;
}

h1 {
    padding: 1rem 0;
    font-size: 1.8rem;
}

h2 {
    padding: 0.2rem 0;
    font-size: 1.4rem;
}

.alert-custom {
    transition: all 0.4s ease-in-out;
}

.nav-cart-size {            
    position: absolute;
    height: 1em;
    width: 1em;
    top:25%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0.1em;
    border-radius: 50%;
    background: #FF0800;
    margin: 0;
    margin-left: 0.8em;
    font-weight: bold;
}

.nav-avatar {
    height: 35px;
    width: 35px;
    border-radius: 50%;
    border: 0.2px solid white;
    filter: brightness(1.1);
}


#social-login .social-login-line {
    border: 0;
    width: 33%;
    height: 0;
    border-top: 1px solid #cdcdcd;
}

.profile-page-image {
    position: relative;
    display: inline-block;
}

.profile-page-image .image-overlay,
.profile-page-image .image-overlay-product {
    display: none;
}

.profile-page-image:hover .image-overlay {
    height: 6.5em;
    width: 6.5em;
    border: 1px solid #ced4da;
    border-radius: 50%;
    background: rgba(0, 0, 0, .5);
    position: absolute;
    top: 0;
    left: 0;
    font-size: 0.8em;
    font-weight: lighter;
    padding: 1em;
    margin: 0;
    color: ghostwhite;
    text-align: center;
    display: inline-block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;   
    cursor: pointer;
}

.profile-page-image:hover .image-overlay-product{
        height: 85%;
        width: 100%;
        border: 1px solid #ced4da;
        background: rgba(0, 0, 0, .5);
        position: absolute;
        top: 0;
        left: 0;
        font-size: 0.8em;
        font-weight: lighter;
        padding: 1.5em;
        margin: 0;
        border-radius: 0.25rem;
        color: ghostwhite;
        text-align: center;
        display: inline-block;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        cursor: pointer;
}

.form-heading {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
    margin: 0 -1em;
    margin-bottom: 1.5em;
    /* width: 35em; */
}

.form-inner-container {
    /* width:35em; */
    margin: 1.5em 0;
    padding: 1em;
    padding-top: 0;
    box-shadow: 0 6px 16px 0 rgb(0 0 0 / 20%);
}

.form-heading h1 {
    width: 50%;
    text-align: center;
    margin: 0;
    font-size: 1.4em;
    font-weight: 600;
    cursor: pointer;
    border: 2px solid ghostwhite;
    border-top: 0;
    transition: all 0.2s ease-in-out;
    
}

.rating span {
    margin: 0.1rem;
}

/* Carousel */
/* Carousel */
.carousel-item-next,
.carousel-item-prev,
.carousel-item:active {
    display: flex
}

.carousel-inner {
    text-align: center;
}

.carousel-caption {
    font-size: 1.2em;
    padding: 0;
    margin-bottom: -0.5em;
    /* position: relative !important; */
    /* text-align: center; */
    /* bottom: 0 !important; */
    /* padding: 20px 30px !important;
    left: 0 !important;
    right: 0 !important;
    box-sizing: border-box; */
}

.footer-icons {
    width: 12%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.footer-icons a {
    color: #212529;
}
.footer-icon {
    font-size: 1.2em;
    line-height: 1.2em;
    object-fit: cover;
    transform: translateY(0);
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
}

.footer-icon:hover {
    transform: translateY(-20%);
}


.footer-copyright {
    font-weight: bold;
    font-size: 1em;
    line-height: 1em;
}

.carousel img {
    height: 30vh;
    border-radius: 50%;
    width: 30vh;
    object-fit: cover;
    margin: 0.5em auto 2.5em auto;
}

.carousel a {
    margin: 0 auto;
}

@media (max-width: 900px) {
    .carousel-caption h2 {
        font-size: 2.5vw;
    }
}

@media (max-width: 430px) {
    .carousel {
        display: none;
    }
}
