main {
    min-height: 85vh;
}

h4 {
    margin: 0.8rem 0;
}

h1 {
    padding: 1rem 0;
    font-size: 1.8rem;
}

h2 {
    padding: 0.2rem 0;
    font-size: 1.4rem;
}

.rating span {
    margin: 0.1rem;
}

/* Carousel */
/* Carousel */
.carousel-item-next,
.carousel-item-prev,
.carousel-item:active {
    display: flex
}

.carousel-inner {
    text-align: center;
}

.carousel-caption {
    font-size: 1.2em;
    padding: 0;
    margin-bottom: -0.5em;
    /* position: relative !important; */
    /* text-align: center; */
    /* bottom: 0 !important; */
    /* padding: 20px 30px !important;
    left: 0 !important;
    right: 0 !important;
    box-sizing: border-box; */
}

.carousel img {
    height: 30vh;
    border-radius: 50%;
    width: 30vh;
    object-fit: cover;
    margin: 0.5em auto 2.5em auto;
}

.carousel a {
    margin: 0 auto;
}

@media (max-width: 900px) {
    .carousel-caption h2 {
        font-size: 2.5vw;
    }
}

@media (max-width: 430px) {
    .carousel {
        display: none;
    }
}